{{is settings.show_banner}}
<div class="static-slider4">
  <div class="container">
    <!-- Row  -->
    <div class="row">
      <!-- Column -->
      <div class="col-md-6 ml-auto align-self-center mt-3 mt-md-0">
        <h1 class="title">XYZ is happy to launch <b class="font-weight-bold">Streaming with<span class="text-info-gradiant typewrite" data-period="2000" data-type='[ "Health+", "Proactive Support"]'></span></b></h1>
      </div>
      <!-- Column -->

    </div>
  </div>
  <div class="bg-info-gradiant">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 ml-auto info-box">
          <div class="d-flex">
            <div class="display-5 text-white mr-3"><i class="font-weight-bold icon-control-play"></i></div>
            <div class="align-self-center">
            </div>
            <div class="modal fade" id="static-slide3">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/is}}

<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false}}
    </div>
  </nav>

  <h1>
    {{t 'submit_a_request'}}
    <span class="follow-up-hint">
      {{follow_up}}
    </span>
  </h1>

  <div id="main-content" class="form">
    {{request_form wysiwyg=true}}
  </div>
</div>
